.detailGuestbookInfo h2{
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.48px;
}

.detailGuestbookInfo p{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.detailGuestbookContent{
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.deleteWrapper{
    margin-left: auto;
}

.passwordInput{
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
}