.guestbookGrid{
    display: inline-grid;
    width: 100%;
    padding: 0 240px 54px 240px;
    margin: 0 auto;
    row-gap: 46px;
    column-gap: 81px;
    grid-template-rows: repeat(3,fit-content(100%));
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-auto-flow: row;
}