.formWrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.inputWrapper input, textarea{
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    resize: vertical;
    max-height: 300px;
}